Card.Header {
    border: 40px solid rgba(220, 220, 220, 0.767);
    /* margin: 30px;
    width: 50% !important ;  */
}

ListGroup{
    border: px solid rgba(220, 220, 220, 0.767);
    margin: 30px;
    width: 500% !important ; 
    background-color: chartreuse;
}
/* 
Button{
    color: black;
} */ 

#headerbg{

    background-attachment: scroll;

}

.bt{
   margin: auto !important;
   
}